@import url("satoshi.css");

.container {
  margin: 0 160px;
}

.navbar {
  font-family: "Satoshi-Variable";
  display: flex;
  justify-content: space-evenly;
  padding-top: 1rem;

  .navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;

    li > a {
      text-decoration: none;
      color: #0a0f0d;
    }

    li > button {
      background-color: transparent;
      cursor: pointer;
      color: #0a0f0d;
      border: 1px solid #0a0f0d;
      border-radius: 40px;
      padding: 0.5rem 1rem;
      font-family: "Satoshi-Variable";
    }
  }

  .hamburger {
    display: none;
  }
}

.hero {
  font-family: "Satoshi-Variable";
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding-top: 2rem;

  .hero-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;

    h1 {
      margin: 0;
      font-weight: bold;
      font-size: 2.5rem;
    }

    p {
      margin: 0;
      font-size: 1.1rem;
    }

    .hero-btn {
      font-family: "Satoshi-Variable";
      font-weight: 500;
      border-bottom: 1px solid #0a0f0d;
      padding-bottom: 0.5rem;
      text-transform: uppercase;
      font-size: 1.3rem;
      cursor: pointer;
      text-decoration: none;
      color: #0a0f0d;
      display: flex;
      flex-direction: row;
      gap: 1rem;

      .hero-btn-img {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  .hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 394px;
    height: 394px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.brands {
  padding-top: 1.5rem;
  margin: 3rem 0;

  border-top: 1px solid #0a0f0d;
  border-bottom: 1px solid #0a0f0d;

  .brands-display {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    img {
      width: 120px;
      height: 120px;
    }
  }

  .brands-display-title {
    font-family: "Satoshi-Variable";
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    margin: 0;
  }
}

.showcase {
  h1 {
    font-family: "Satoshi-Variable";
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    margin: 0;
    padding-bottom: 3rem;
  }

  .showcase-cards {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 270px;
      height: 342px;
      border: 1px solid #0a0f0d;
      border-radius: 10px;

      h3 {
        font-family: "Satoshi-Variable";
        font-weight: 500;
        font-size: 1.5rem;
        text-align: start;
        margin: 0;
        padding: 0.2rem 1rem;
      }

      p {
        font-family: "Satoshi-Variable";
        font-weight: 400;
        font-size: 1rem;
        text-align: start;
        margin: 0;
        padding: 1rem;
      }

      .showcase-card-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 194px;
        height: 194px;

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    .card-1 {
      padding-top: 1rem;
      background-color: #ebffdb;
    }

    .card-2 {
      background-color: #d5e9f8;
      padding-bottom: 1rem;
    }

    .card-3 {
      padding-top: 1rem;
      background-color: #c5b6f0;
    }
  }
}

.display {
  padding-top: 3rem;
  padding-bottom: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;

  .display-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    h1 {
      font-family: "Satoshi-Variable";
      font-weight: 500;
      font-size: 2rem;
      text-align: center;
      margin: 0;
    }
    p {
      font-family: "Satoshi-Variable";
      font-weight: 400;
      font-size: 1rem;
      text-align: center;
      margin: 0;
      max-width: 500px;
    }
    a {
      font-family: "Satoshi-Variable";
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1rem;
      text-align: center;
      margin: 0;
      padding-bottom: 3rem;
      background-color: transparent;
      color: #0a0f0d;
      border-bottom: 1px solid #0a0f0d;
      padding: 0.5rem 1rem;
      cursor: pointer;
      position: relative;

      i {
        position: absolute;
        right: -1rem;
        top: 0.8rem;
      }
    }
  }

  .display-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1.4fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1rem 0.7rem;
    grid-template-areas:
      "item-1 item-2 item-2 item-2"
      "item-1 item-3 item-3 item-3"
      "item-4 item-4 item-5 item-5"
      "item-4 item-4 item-5 item-5";

    .display-grid-item {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: start;
      gap: 1rem;
      padding: 1.5rem;
      border-radius: 10px;
      border: 1px solid #0a0f0d;

      position: relative;

      img {
        width: 192px;
        height: 123px;

        position: absolute;
      }

      h3 {
        font-family: "Satoshi-Variable";
        font-weight: 500;
        font-size: 1.5rem;
        text-align: start;
        margin: 0;
      }

      ul {
        padding: 0.5rem;
        margin: 0;

        li {
          font-family: "Satoshi-Variable";
          font-weight: 400;
          font-size: 1rem;
          text-align: start;
          margin: 0;
          padding: 0.3rem 0;
        }
      }
    }

    .item-1 {
      grid-area: item-1;
      background-color: #ebffdb;

      img {
        height: 200px;
        width: 220px;
        bottom: 1.5rem;
        left: 1.7rem;
      }
    }

    .item-2 {
      grid-area: item-2;
      background-color: #fffba0;

      img {
        height: 200px;
        bottom: 0;
        right: 15px;
      }

      ul {
        max-width: 360px;
      }
    }

    .item-3 {
      grid-area: item-3;
      background-color: #c5b6f0;

      img {
        height: 200px;
        width: 230px;

        bottom: 0;
        right: 0;
      }

      ul {
        max-width: 390px;
      }
    }

    .item-4 {
      grid-area: item-4;
      background-color: #d5e9f8;

      img {
        height: 250px;
        width: 330px;
        bottom: 0;
        right: 0;
        border-bottom-right-radius: 10px;
      }
    }

    .item-5 {
      grid-area: item-5;
      background-color: #fef4db;

      img {
        height: 250px;
        width: 290px;
        bottom: 0;
        right: 55px;
      }
    }
  }
}

.reviews-container {
  margin-top: 2rem;
  padding: 2rem 0;
  background-color: #fffba0;

  h1 {
    font-family: "Satoshi-Variable";
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    margin: 0;
    padding-bottom: 3rem;
  }

  .card-container {
    margin: 2rem 160px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    .card {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      max-width: 270px;
      padding: 2rem;

      padding-bottom: 4rem;

      border-radius: 14px;
      background-color: #ffffff;
      border: 1px solid #0a0f0d;
      .stars {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        color: #ffd569;
      }

      .blockquote {
        font-family: "Satoshi-Variable";
        font-weight: 400;
        font-size: 1rem;
        text-align: start;
        margin: 0;
        padding: 1rem 0;
        font-style: italic;
        color: #0a0f0d;
        opacity: 0.8;
        line-height: 1.6;
      }

      .author-content {
        margin-top: 1rem;
        width: 100%;
        position: relative;

        .author-name {
          font-family: "Satoshi-Variable";
          font-size: 1rem;
          text-align: start;
          margin: 0;
          text-transform: uppercase;
          font-weight: 600;
          padding: 0.3rem 0;
        }

        .author-title {
          font-family: "Satoshi-Variable";
          font-weight: 400;
          font-size: 0.8rem;
          text-align: start;
          color: #0a0f0d;
          opacity: 0.8;
        }

        .author-brand {
          left: 0;
          position: absolute;
        }

        .solid {
          margin-bottom: 1.5rem;
        }

        .author-img {
          width: 40px;
          right: 0;
          position: absolute;
        }
      }
    }
  }
}

.faq-container {
  margin-bottom: 2rem 0;
  padding-bottom: 3rem;

  background-color: #0a0f0d;
  color: #ffffff;

  h1 {
    font-family: "Satoshi-Variable";
    font-weight: 500;
    font-size: 2rem;
    text-align: left;
    margin: 0;
    padding: 2rem 0;
  }

  .faq {
    margin: 0 160px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .faq-item {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 90%;

      background-color: #1a1a1a;
      padding: 1rem;
      margin: 1rem 0;
      border: 1px solid #ffffff;

      .faq-question {
        display: flex;
        flex-direction: row;
        font-family: "Satoshi-Variable";
        font-size: 1.2rem;
        text-align: start;

        h3 {
          margin: 0;
          font-weight: 400;
        }

        i {
          margin-left: auto;
          padding: 0.2rem;

          &.active {
            rotate: 180deg;
          }
        }
      }

      .faq-answer {
        display: none;
        p {
          font-family: "Satoshi-Variable";
          font-weight: 300;
          font-size: 1rem;
          text-align: start;
          margin-top: 1rem;
        }

        &.active {
          display: block;
        }
      }
    }
  }
}

.footer {
  margin: 3rem 160px;

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;

  max-height: 250px;
  gap: 2rem;
  padding-bottom: 5rem;

  .footer-left {
    grid-column: 1;
    .footer-logo {
      width: 120px;
      height: 120px;
    }

    .input-newsletter {
      position: relative;

      h3 {
        font-family: "Satoshi-Variable";
        font-weight: 500;
        font-size: 1rem;
        text-align: start;
        margin: 0.5rem 0;
      }

      input {
        width: 95%;
        height: 1.5rem;
        border: 1px solid #0a0f0d;
        border-radius: 10px;
        padding: 0.5rem 1rem;
        font-family: "Satoshi-Variable";
        margin-top: 0.5rem;
      }
      .btn-input {
        position: absolute;
        bottom: 0.5rem;
        right: 0;
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
        font-family: "Satoshi-Variable";
      }
    }
  }

  .footer-links-list {
    grid-column: 2;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;

    .link-list {
      display: flex;
      flex-direction: column;

      ul {
        list-style: none;
        font-family: "Satoshi-Variable";
        font-weight: 400;
        padding-top: 0.8rem;

        h3 {
          margin: 0;
          padding-bottom: 0.5rem;
          text-align: left;
          font-family: "Satoshi-Variable";
          font-weight: 600;
          font-size: 1rem;
        }

        li {
          margin-top: 0.4rem;

          a {
            text-decoration: none;
            color: #0a0f0d;
            font-size: 0.9rem;
          }
        }
      }
    }
  }

  .footer-links-bottom {
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    align-content: flex-end;

    padding: 1rem 0;
    border-top: 1px solid #0a0f0d;
    border-bottom: 1px solid #0a0f0d;

    .terms {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;
      justify-content: center;

      a {
        text-decoration: none;
        color: #0a0f0d;
        font-size: 0.9rem;
        font-family: "Satoshi-Variable";
        font-weight: 500;
      }

      i {
        font-size: 0.4rem;
      }
    }

    .social-links {
      small {
        font-family: "Satoshi-Variable";
        font-weight: 500;
        font-size: 0.8rem;
        text-align: start;
        color: #0a0f0d;
        padding-left: 1rem;
      }

      i {
        color: #0a0f0d;
        height: 1rem;
        width: 1rem;
        cursor: pointer;
        border: 1px solid #0a0f0d;
        padding: 0.4rem;
        border-radius: 50%;
      }
    }
  }

  .footer-bottom {
    grid-column: 1 / span 2;
    text-align: center;
    font-family: "Satoshi-Variable";
    font-weight: 400;
    font-size: 0.8rem;
    color: #0a0f0d;
    opacity: 0.8;
  }
}

// Responsive styles
@media (max-width: 768px) {
  .container {
    margin: 0 50px; /* Add 20px of margin to the left and right sides */
  }

  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

    .nav-links {
      display: none;
    }

    .hamburger {
      display: flex;
      cursor: pointer;
    }
  }

  .hero {
    flex-direction: column-reverse;
    padding-top: 1rem;

    .hero-content {
      flex: 1;
      align-items: center;
      padding: 0 2rem;
    }

    .hero-img {
      margin-top: 2rem;
    }
  }

  .display {
    .display-grid {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      gap: 2rem;
      grid-template-areas:
        "item-1"
        "item-2"
        "item-3"
        "item-4"
        "item-5";

      .display-grid-item {
        padding-bottom: 14rem;
      }

      .item-4 {
        img {
          height: 220px;
          width: 260px;
        }
      }

      .item-5 {
        img {
          height: 200px;
          width: 240px;
        }
      }
    }
  }

  .reviews-container {
    .card-container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 0 2rem 0;
    }
  }

  .faq-container {
    margin: 2rem 0;
    padding: 1rem 0;

    h1 {
      font-family: "Satoshi-Variable";
      font-weight: 500;
      font-size: 2rem;
      text-align: left;
      margin: 0;
      padding: 2rem 0;
    }

    .faq {
      margin: 0 50px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .faq-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 90%;

        background-color: #1a1a1a;
        padding: 1rem;
        margin: 1rem 0;
        border: 1px solid #ffffff;

        .faq-question {
          display: flex;
          flex-direction: row;
          font-family: "Satoshi-Variable";
          font-size: 1.2rem;
          text-align: start;

          h3 {
            margin: 0;
            font-weight: 400;
          }

          i {
            margin-left: auto;
            padding: 0.2rem;

            &.active {
              rotate: 180deg;
            }
          }
        }

        .faq-answer {
          display: none;
          p {
            font-family: "Satoshi-Variable";
            font-weight: 300;
            font-size: 1rem;
            text-align: start;
            margin-top: 1rem;
          }

          &.active {
            display: block;
          }
        }
      }
    }
  }

  .footer {
    .footer-left {
      .input-newsletter {
        h3 {
          font-family: "Satoshi-Variable";
          font-weight: 500;
          font-size: 0.8rem;
        }
        input {
          width: 100%;
          padding: 0.5rem;
          border: 1px solid #0a0f0d;
          border-radius: 0.5rem;

          &::placeholder {
            font-family: "Satoshi-Variable";
            font-weight: 400;
            font-size: 0.8rem;
            color: #0a0f0d;
          }
        }
      }

      .btn-input {
        display: none;
      }
    }

    .footer-links-list {
      display: none;
    }

    .footer-links-bottom {
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .terms {
        margin-bottom: 1rem;
      }

      .social-links {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        justify-content: center;

        small {
          display: none;
        }
      }
    }

    .footer-bottom {
      padding-bottom: 2rem;
    }
  }
}
