@import url("satoshi.css");
.container {
  margin: 0 160px;
}

.navbar {
  font-family: "Satoshi-Variable";
  display: flex;
  justify-content: space-evenly;
  padding-top: 1rem;
}
.navbar .navbar-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar .nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}
.navbar .nav-links li > a {
  text-decoration: none;
  color: #0a0f0d;
}
.navbar .nav-links li > button {
  background-color: transparent;
  cursor: pointer;
  color: #0a0f0d;
  border: 1px solid #0a0f0d;
  border-radius: 40px;
  padding: 0.5rem 1rem;
  font-family: "Satoshi-Variable";
}
.navbar .hamburger {
  display: none;
}

.hero {
  font-family: "Satoshi-Variable";
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding-top: 2rem;
}
.hero .hero-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}
.hero .hero-content h1 {
  margin: 0;
  font-weight: bold;
  font-size: 2.5rem;
}
.hero .hero-content p {
  margin: 0;
  font-size: 1.1rem;
}
.hero .hero-content .hero-btn {
  font-family: "Satoshi-Variable";
  font-weight: 500;
  border-bottom: 1px solid #0a0f0d;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  cursor: pointer;
  text-decoration: none;
  color: #0a0f0d;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.hero .hero-content .hero-btn .hero-btn-img {
  width: 1.5rem;
  height: 1.5rem;
}
.hero .hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 394px;
  height: 394px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.brands {
  padding-top: 1.5rem;
  margin: 3rem 0;
  border-top: 1px solid #0a0f0d;
  border-bottom: 1px solid #0a0f0d;
}
.brands .brands-display {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.brands .brands-display img {
  width: 120px;
  height: 120px;
}
.brands .brands-display-title {
  font-family: "Satoshi-Variable";
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  margin: 0;
}

.showcase h1 {
  font-family: "Satoshi-Variable";
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  margin: 0;
  padding-bottom: 3rem;
}
.showcase .showcase-cards {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.showcase .showcase-cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 270px;
  height: 342px;
  border: 1px solid #0a0f0d;
  border-radius: 10px;
}
.showcase .showcase-cards .card h3 {
  font-family: "Satoshi-Variable";
  font-weight: 500;
  font-size: 1.5rem;
  text-align: start;
  margin: 0;
  padding: 0.2rem 1rem;
}
.showcase .showcase-cards .card p {
  font-family: "Satoshi-Variable";
  font-weight: 400;
  font-size: 1rem;
  text-align: start;
  margin: 0;
  padding: 1rem;
}
.showcase .showcase-cards .card .showcase-card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 194px;
  height: 194px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.showcase .showcase-cards .card-1 {
  padding-top: 1rem;
  background-color: #ebffdb;
}
.showcase .showcase-cards .card-2 {
  background-color: #d5e9f8;
  padding-bottom: 1rem;
}
.showcase .showcase-cards .card-3 {
  padding-top: 1rem;
  background-color: #c5b6f0;
}

.display {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.display .display-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.display .display-header h1 {
  font-family: "Satoshi-Variable";
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  margin: 0;
}
.display .display-header p {
  font-family: "Satoshi-Variable";
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  margin: 0;
  max-width: 500px;
}
.display .display-header a {
  font-family: "Satoshi-Variable";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  margin: 0;
  padding-bottom: 3rem;
  background-color: transparent;
  color: #0a0f0d;
  border-bottom: 1px solid #0a0f0d;
  padding: 0.5rem 1rem;
  cursor: pointer;
  position: relative;
}
.display .display-header a i {
  position: absolute;
  right: -1rem;
  top: 0.8rem;
}
.display .display-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1.4fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1rem 0.7rem;
  grid-template-areas: "item-1 item-2 item-2 item-2" "item-1 item-3 item-3 item-3" "item-4 item-4 item-5 item-5" "item-4 item-4 item-5 item-5";
}
.display .display-grid .display-grid-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
  gap: 1rem;
  padding: 1.5rem;
  border-radius: 10px;
  border: 1px solid #0a0f0d;
}
.display .display-grid .display-grid-item h3 {
  font-family: "Satoshi-Variable";
  font-weight: 500;
  font-size: 1.5rem;
  text-align: start;
  margin: 0;
}
.display .display-grid .display-grid-item ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.display .display-grid .display-grid-item ul li::before {
  content: "";
  background-image: url(../icons/arrow-icon.svg);
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
}
.display .display-grid .display-grid-item ul li {
  list-style-type: none;
  font-family: "Satoshi-Variable";
  font-weight: 400;
  font-size: 1rem;
  text-align: start;
  margin: 0;
}
.display .display-grid .item-1 {
  grid-area: item-1;
  background-color: #ebffdb;
}
.display .display-grid .item-2 {
  grid-area: item-2;
  background-color: #fffba0;
}
.display .display-grid .item-3 {
  grid-area: item-3;
  background-color: #c5b6f0;
}
.display .display-grid .item-4 {
  grid-area: item-4;
  background-color: #d5e9f8;
}
.display .display-grid .item-5 {
  grid-area: item-5;
  background-color: #fef4db;
}

.reviews-container {
  margin-top: 2rem;
  padding: 2rem 0;
  background-color: #fffba0;
}
.reviews-container h1 {
  font-family: "Satoshi-Variable";
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  margin: 0;
  padding-bottom: 3rem;
}
.reviews-container .card-container {
  margin: 2rem 160px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.reviews-container .card-container .card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 270px;
  padding: 2rem;
  padding-bottom: 4rem;
  border-radius: 14px;
  background-color: #ffffff;
  border: 1px solid #0a0f0d;
}
.reviews-container .card-container .card .stars {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  color: #ffd569;
}
.reviews-container .card-container .card .blockquote {
  font-family: "Satoshi-Variable";
  font-weight: 400;
  font-size: 1rem;
  text-align: start;
  margin: 0;
  padding: 1rem 0;
  font-style: italic;
  color: #0a0f0d;
  opacity: 0.8;
  line-height: 1.6;
}
.reviews-container .card-container .card .author-content {
  margin-top: 1rem;
  width: 100%;
  position: relative;
}
.reviews-container .card-container .card .author-content .author-name {
  font-family: "Satoshi-Variable";
  font-size: 1rem;
  text-align: start;
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.3rem 0;
}
.reviews-container .card-container .card .author-content .author-title {
  font-family: "Satoshi-Variable";
  font-weight: 400;
  font-size: 0.8rem;
  text-align: start;
  color: #0a0f0d;
  opacity: 0.8;
}
.reviews-container .card-container .card .author-content .author-brand {
  left: 0;
  position: absolute;
}
.reviews-container .card-container .card .author-content .solid {
  margin-bottom: 1.5rem;
}
.reviews-container .card-container .card .author-content .author-img {
  width: 40px;
  right: 0;
  position: absolute;
}

.faq-container {
  margin-bottom: 2rem 0;
  padding-bottom: 3rem;
  background-color: #0a0f0d;
  color: #ffffff;
}
.faq-container h1 {
  font-family: "Satoshi-Variable";
  font-weight: 500;
  font-size: 2rem;
  text-align: left;
  margin: 0;
  padding: 2rem 0;
}
.faq-container .faq {
  margin: 0 160px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.faq-container .faq .faq-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90%;
  background-color: #1a1a1a;
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid #ffffff;
}
.faq-container .faq .faq-item .faq-question {
  display: flex;
  flex-direction: row;
  font-family: "Satoshi-Variable";
  font-size: 1.2rem;
  text-align: start;
}
.faq-container .faq .faq-item .faq-question h3 {
  margin: 0;
  font-weight: 400;
}
.faq-container .faq .faq-item .faq-question i {
  margin-left: auto;
  padding: 0.2rem;
}
.faq-container .faq .faq-item .faq-question i.active {
  rotate: 180deg;
}
.faq-container .faq .faq-item .faq-answer {
  display: none;
}
.faq-container .faq .faq-item .faq-answer p {
  font-family: "Satoshi-Variable";
  font-weight: 300;
  font-size: 1rem;
  text-align: start;
  margin-top: 1rem;
}
.faq-container .faq .faq-item .faq-answer.active {
  display: block;
}

.footer {
  margin: 0 160px;
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.footer .footer-left .footer-logo {
  width: 120px;
  height: 120px;
}
.footer .footer-left .input-newsletter h3 {
  font-family: "Satoshi-Variable";
  font-weight: 500;
  font-size: 1.5rem;
  text-align: start;
  margin: 0;
}
.footer .footer-left .input-newsletter .input-newsletter-form {
  position: absolute;
}
.footer .footer-left .input-newsletter .input-newsletter-form input {
  width: 200px;
  height: 1.5rem;
  border: 1px solid #0a0f0d;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-family: "Satoshi-Variable";
  margin-top: 0.5rem;
}
.footer .footer-left .input-newsletter .input-newsletter-form img {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  font-family: "Satoshi-Variable";
}
.footer .footer-links-list {
  grid-column: 1/4;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}
.footer .footer-links-list .link-list {
  display: flex;
  flex-direction: column;
}
.footer .footer-links-list .link-list ul {
  list-style: none;
  font-family: "Satoshi-Variable";
  font-weight: 400;
  padding-top: 0.8rem;
}
.footer .footer-links-list .link-list ul h3 {
  margin: 0;
  padding-bottom: 0.5rem;
  text-align: left;
  font-family: "Satoshi-Variable";
  font-weight: 600;
  font-size: 1rem;
}
.footer .footer-links-list .link-list ul li {
  margin-top: 0.4rem;
}
.footer .footer-links-list .link-list ul li a {
  text-decoration: none;
  color: #0a0f0d;
  font-size: 0.9rem;
}
.footer .footer-links-bottom {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: space-around;
  align-content: flex-end;
}
.footer .footer-links-bottom .link-bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  text-decoration: none;
}
.footer .footer-bottom {
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    margin: 0 50px; /* Add 20px of margin to the left and right sides */
  }
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }
  .navbar .nav-links {
    display: none;
  }
  .navbar .hamburger {
    display: flex;
    cursor: pointer;
  }
  .hero {
    flex-direction: column-reverse;
    padding-top: 1rem;
  }
  .hero .hero-content {
    flex: 1;
    align-items: center;
    padding: 0 2rem;
  }
  .hero .hero-img {
    margin-top: 2rem;
  }
  .display .display-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
    grid-template-areas: "item-1" "item-2" "item-3" "item-4" "item-5";
  }
  .reviews-container .card-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 2rem 0;
  }
  .faq-container {
    margin: 2rem 0;
    padding: 1rem 0;
  }
  .faq-container h1 {
    font-family: "Satoshi-Variable";
    font-weight: 500;
    font-size: 2rem;
    text-align: left;
    margin: 0;
    padding: 2rem 0;
  }
  .faq-container .faq {
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .faq-container .faq .faq-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    background-color: #1a1a1a;
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid #ffffff;
  }
  .faq-container .faq .faq-item .faq-question {
    display: flex;
    flex-direction: row;
    font-family: "Satoshi-Variable";
    font-size: 1.2rem;
    text-align: start;
  }
  .faq-container .faq .faq-item .faq-question h3 {
    margin: 0;
    font-weight: 400;
  }
  .faq-container .faq .faq-item .faq-question i {
    margin-left: auto;
    padding: 0.2rem;
  }
  .faq-container .faq .faq-item .faq-question i.active {
    rotate: 180deg;
  }
  .faq-container .faq .faq-item .faq-answer {
    display: none;
  }
  .faq-container .faq .faq-item .faq-answer p {
    font-family: "Satoshi-Variable";
    font-weight: 300;
    font-size: 1rem;
    text-align: start;
    margin-top: 1rem;
  }
  .faq-container .faq .faq-item .faq-answer.active {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */