<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="normalize.css" />
    <link rel="stylesheet" href="style.css" />
    <title>My Project</title>
  </head>
  <body>
    <nav class="nav-container">
      <div class="brand">Brand</div>
      <div class="nav-right">
        <ul class="nav-links">
          <li class="nav-link">Projects</li>
          <li class="nav-link">Blog</li>
          <li class="nav-link">Contact</li>
        </ul>
        <div class="nav-search">
          <input type="text" class="nav-input" aria-label="search" />
          <button class="nav-search-button">🔍</button>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="aside-column">
        <button class="btn btn-decorated">LOG IN</button>
        <button class="btn">SUBSCRIBE</button>
        <div class="card-list">
          <div class="article-card">
            <img src="placeholder.jpg" alt="" />
            <h3>Decorate your home for Halloween</h3>
          </div>
          <div class="article-card">
            <img src="placeholder.jpg" alt="" />
            <h3>DIY Halloween costumes</h3>
          </div>
          <div class="article-card">
            <img src="placeholder.jpg" alt="" />
            <h3>DIY Halloween costumes</h3>
          </div>
          <div class="article-card">
            <img src="placeholder.jpg" alt="" />
            <h3>DIY Halloween costumes</h3>
          </div>
          <div class="article-card">
            <img src="placeholder.jpg" alt="" />
            <h3>DIY Halloween costumes</h3>
          </div>
          <div class="article-card">
            <img src="placeholder.jpg" alt="" />
            <h3>DIY Halloween costumes</h3>
          </div>
        </div>
      </div>
      <div class="article-column">
        <article class="main-article">
          <img src="placeholder.jpg" alt="" />
          <div class="article-content">
            <div class="article-date">
              <div class="number">31</div>
              Oct
            </div>
            <div class="article-title">
              <a href="#">the 5 Best movies to watch on halloween</a>
              <small>by <b> Nora Johnson</b></small>
            </div>
          </div>
        </article>
        <article class="main-article">
          <img src="placeholder.jpg" alt="" />
          <div class="article-content">
            <div class="article-date">
              <div class="number">31</div>
              Oct
            </div>
            <div class="article-title">
              <a href="#">the 5 Best movies to watch on halloween</a>
              <small>by <b> Nora Johnson</b></small>
            </div>
          </div>
        </article>
        <article class="main-article">
          <img src="placeholder.jpg" alt="" />
          <div class="article-content">
            <div class="article-date">
              <div class="number">31</div>
              Oct
            </div>
            <div class="article-title">
              <a href="#">the 5 Best movies to watch on halloween</a>
              <small>by <b> Nora Johnson</b></small>
            </div>
          </div>
        </article>
        <button class="btn btn-categories">CATEGORIES</button>
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
