<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="normalize.css" />
    <link rel="stylesheet" href="style.css" />
    <title>My Project</title>
  </head>
  <body>
    <div class="container">
      <aside class="aside">
        <nav class="nav-aside">
          <ul class="nav-aside__list">
            <li class="nav-aside__item active">Home</li>
            <li class="nav-aside__item">About</li>
            <li class="nav-aside__item">Contact</li>
          </ul>
        </nav>
      </aside>
      <main class="main">
        <div class="container">a</div>
      </main>
    </div>
  </body>
</html>
