<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="normalize.css" />
    <link rel="stylesheet" href="style.css" />
    <title>My Project</title>
  </head>
  <body>
    <div class="container">
      <div class="content-container">
        <h1>Lorem, ipsum.</h1>
        <div class="ratings">Rating: 3.5</div>
        <div class="content-display">
          <div class="selection-list">
            <div class="selection active">Description</div>
            <div class="selection">More</div>
          </div>
          <p class="description">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores
            eum impedit reiciendis odit alias. Laudantium voluptatum iste
            voluptatibus iusto nisi!
          </p>
          <p class="description">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores
            eum impedit reiciendis odit alias. Laudantium voluptatum iste
            voluptatibus iusto nisi!
          </p>
        </div>
      </div>
      <div class="image-container">
        <div class="trapezoid">
          <div class="x">
            <img src="placeholder.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
