<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="parent">
        <!-- Side Menu -->
        <aside class="aside">
          <article>
            <h3>Notes List</h3>
            <h5>
              Folder
              <i class="new-folder">+</i>
            </h5>
            <p class="folder-item active">Notes 1</p>
            <p class="folder-item">Notes 2</p>
            <p class="folder-item">Notes 3</p>
            <p class="folder-item">Notes 4</p>
            <h5>Favorites</h5>
            <h5>Trash</h5>
            <h5>Archived</h5>
          </article>
        </aside>
        <!-- Main Content -->
        <main class="main">
          <!-- Responsive Hamburger -->
          <div class="mobile-button" onClick="toggleMenu()">+</div>
          <!-- Modal -->
          <dialog id="modal-example" class="note-modal">
            <article>
              <a
                href="#close"
                aria-label="Close"
                class="close"
                data-target="modal-example"
                onClick="toggleModal(event)"
              >
              </a>
              <input
                type="text"
                placeholder="Note title"
                aria-label="note-title"
                class="note-title"
              />
              <textarea
                name="note"
                cols="30"
                rows="4"
                placeholder="Note content"
                aria-label="note-content"
                class="note-content"
              ></textarea>
              <footer>
                <a
                  href="#cancel"
                  role="button"
                  class="secondary"
                  data-target="modal-example"
                  onClick="toggleModal(event)"
                >
                  Cancel
                </a>
                <a
                  href="#confirm"
                  role="button"
                  data-target="modal-example"
                  onClick="toggleModal(event)"
                >
                  Confirm
                </a>
              </footer>
            </article>
          </dialog>
          <header>
            <h2>All Notes</h2>
            <div
              role="button"
              data-target="modal-example"
              onClick="toggleModal(event)"
            >
              New Note
            </div>
          </header>
          <section class="note-container">
            <div class="note">
              <hgroup>
                <h3>Note title</h3>
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Reiciendis laboriosam modi expedita ipsum tenetur quos optio
                  provident odio laborum ipsam?
                </p>
              </hgroup>
              <div class="edit-note">
                <div>Delete</div>
                <div>Edit</div>
                <div>Favorite</div>
              </div>
            </div>
            <div class="note">
              <hgroup>
                <h3>Note title</h3>
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Reiciendis laboriosam modi expedita ipsum tenetur quos optio
                  provident odio laborum ipsam?
                </p>
              </hgroup>
              <div class="edit-note">
                <div>Delete</div>
                <div>Edit</div>
                <div>Favorite</div>
              </div>
            </div>
            <div class="note">
              <hgroup>
                <h3>Note title</h3>
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Reiciendis laboriosam modi expedita ipsum tenetur quos optio
                  provident odio laborum ipsam?
                </p>
              </hgroup>
              <div class="edit-note">
                <div>Delete</div>
                <div>Edit</div>
                <div>Favorite</div>
              </div>
            </div>
          </section>
        </main>
      </div>
    </div>
    <script>
      /*
       * Modal
       *
       * Pico.css - https://picocss.com
       * Copyright 2019-2023 - Licensed under MIT
       */

      // Config
      const isOpenClass = "modal-is-open";
      const openingClass = "modal-is-opening";
      const closingClass = "modal-is-closing";
      const animationDuration = 400; // ms
      let visibleModal = null;

      // Toggle modal
      const toggleModal = (event) => {
        event.preventDefault();
        const modal = document.getElementById(
          event.currentTarget.getAttribute("data-target")
        );
        typeof modal != "undefined" && modal != null && isModalOpen(modal)
          ? closeModal(modal)
          : openModal(modal);
      };

      // Is modal open
      const isModalOpen = (modal) => {
        return modal.hasAttribute("open") &&
          modal.getAttribute("open") != "false"
          ? true
          : false;
      };

      // Open modal
      const openModal = (modal) => {
        if (isScrollbarVisible()) {
          document.documentElement.style.setProperty(
            "--scrollbar-width",
            `${getScrollbarWidth()}px`
          );
        }
        document.documentElement.classList.add(isOpenClass, openingClass);
        setTimeout(() => {
          visibleModal = modal;
          document.documentElement.classList.remove(openingClass);
        }, animationDuration);
        modal.setAttribute("open", true);
      };

      // Close modal
      const closeModal = (modal) => {
        visibleModal = null;
        document.documentElement.classList.add(closingClass);
        setTimeout(() => {
          document.documentElement.classList.remove(closingClass, isOpenClass);
          document.documentElement.style.removeProperty("--scrollbar-width");
          modal.removeAttribute("open");
        }, animationDuration);
      };

      // Close with a click outside
      document.addEventListener("click", (event) => {
        if (visibleModal != null) {
          const modalContent = visibleModal.querySelector("article");
          const isClickInside = modalContent.contains(event.target);
          !isClickInside && closeModal(visibleModal);
        }
      });

      // Close with Esc key
      document.addEventListener("keydown", (event) => {
        if (event.key === "Escape" && visibleModal != null) {
          closeModal(visibleModal);
        }
      });

      // Get scrollbar width
      const getScrollbarWidth = () => {
        // Creating invisible container
        const outer = document.createElement("div");
        outer.style.visibility = "hidden";
        outer.style.overflow = "scroll"; // forcing scrollbar to appear
        outer.style.msOverflowStyle = "scrollbar"; // needed for WinJS apps
        document.body.appendChild(outer);

        // Creating inner element and placing it in the container
        const inner = document.createElement("div");
        outer.appendChild(inner);

        // Calculating difference between container's full width and the child width
        const scrollbarWidth = outer.offsetWidth - inner.offsetWidth;

        // Removing temporary elements from the DOM
        outer.parentNode.removeChild(outer);

        return scrollbarWidth;
      };

      // Is scrollbar visible
      const isScrollbarVisible = () => {
        return document.body.scrollHeight > screen.height;
      };
    </script>
  </body>
</html>
