:root {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #263238;
  color: #f8fafc;
  line-height: 1.3;
  font-size: 14px;
  background: radial-gradient(99% 46.68% at 0% 50%, #3c2faa 50%, #2a7f99 100%);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 2rem auto;
  gap: 4rem;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 3rem;
  background-color: #281d6a;
  border-radius: 3rem;
}
.header .navbar__logo {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}
.header .navbar__menu {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin-left: 6rem;
}
.header .navbar__menu-item {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.header .navbar__menu-item:hover {
  color: #48d7f6;
}
.header .navbar__button {
  border-radius: 5rem !important;
}
.header .navbar__hamburger {
  display: none;
}
.header .hero-header {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.header .hero-header__image {
  -o-object-fit: cover;
     object-fit: cover;
}
.header .hero-header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.header .hero-header__content .content__header {
  font-size: 3rem;
  font-weight: 600;
  max-width: 80%;
}
.header .hero-header__content .content__paragraph {
  font-size: 1.2rem;
  font-weight: 400;
}
.header .hero-header__content .content__play {
  display: flex;
  align-items: center;
  font-weight: 600;
  gap: 1.5rem;
}
.header .hero-header__content .content__play .play {
  height: 45px;
  width: 45px;
  background: linear-gradient(96.43deg, #46cffa 0%, #9dfbb5 100%);
  border-radius: 50%;
  position: relative;
  box-shadow: 0px 0px 13px rgba(152, 252, 182, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.8s ease-in-out;
}
.header .hero-header__content .content__play .play:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0px 0px 13px rgba(152, 252, 182, 0.5);
}
.header .hero-header__content .content__play .play::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  top: -7.5px;
  left: -7.5px;
  background-color: #46cffa;
  opacity: 0.2;
  border-radius: 50%;
  z-index: -1;
}
.header .hero-header__content .content__play .play::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  top: 12.5px;
  left: 16px;
  background-color: #010200;
  -webkit-clip-path: polygon(80% 50%, 0 0, 0 100%);
          clip-path: polygon(80% 50%, 0 0, 0 100%);
}
.header .hero-header__content .content__play .play-text:hover {
  cursor: pointer;
}

.hero {
  padding: 6rem 4rem;
  background: radial-gradient(64.18% 64.18% at 50% 50%, #3b328b 0%, #281d6a 100%);
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  position: relative;
}
.hero::after {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  top: -25%;
  left: -10%;
  z-index: -1;
  background: linear-gradient(45.82deg, #3b328b 10.52%, rgba(72, 215, 246, 0) 77.48%);
  opacity: 0.5;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}
.hero .hero-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 50%;
}
.hero .hero-content__tagline {
  font-weight: 500;
  position: relative;
  text-transform: uppercase;
}
.hero .hero-content__tagline::after {
  content: "";
  position: absolute;
  width: 47.47px;
  height: 2px;
  left: 0;
  top: 1.8rem;
  background: linear-gradient(90deg, #46cffa 0%, #9dfbb5 99%);
  border-radius: 5px;
}
.hero .hero-content__header {
  font-size: 2rem;
  font-weight: 700;
}
.hero .hero-content__paragraph {
  font-size: 1.2rem;
  font-weight: 400;
}
.hero .hero-content__button {
  display: flex;
}
.hero .hero-image {
  left: 55%;
  align-self: center;
  position: absolute;
  z-index: 2;
}
.hero .hero-image img {
  box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.25);
}
.hero .hero-image::before {
  content: "";
  position: absolute;
  width: 447px;
  height: 306px;
  left: 5rem;
  top: -2rem;
  border: 2px dashed #48d7f6;
  z-index: -1;
}

.btn {
  max-width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  background: linear-gradient(96.43deg, #46cffa 0%, #9dfbb5 100%);
  box-shadow: 0px 0px 13px rgba(152, 252, 182, 0.42);
  color: #0f6251;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  box-shadow: 0px 0px 13px rgba(152, 252, 182, 0.7);
}

@media (max-width: 768px) {
  .header .navbar {
    background-color: transparent;
    margin-top: 1rem;
    gap: 1rem;
  }
  .header .navbar__hamburger {
    display: block;
    cursor: pointer;
  }
  .header .navbar__menu, .header .navbar__button {
    display: none;
  }
  .header .hero-header {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }
  .header .hero-header__image {
    width: 100%;
    height: 100%;
  }
  .header .hero-header__content {
    max-width: 100%;
    align-items: center;
    gap: 1.5rem;
  }
  .header .hero-header__content .content__header {
    font-size: 2rem;
    max-width: 100%;
  }
  .header .hero-header__content .content__paragraph {
    font-size: 1rem;
  }
  .header .hero-header__content .content__play {
    margin-top: 0.5rem;
    gap: 1rem;
  }
  .header .hero-header__content .content__play .play {
    height: 35px;
    width: 35px;
  }
  .header .hero-header__content .content__play .play::before {
    width: 50px;
    height: 50px;
  }
  .header .hero-header__content .content__play .play::after {
    height: 15px;
    width: 15px;
    top: 10px;
    left: 12px;
  }
  .hero {
    padding: 2rem 1rem;
    gap: 1rem;
  }
  .hero::after {
    display: none;
  }
  .hero .hero-content {
    max-width: 100%;
    gap: 2rem;
  }
  .hero .hero-content__tagline {
    font-size: 0.8rem;
  }
  .hero .hero-content__header {
    font-size: 1.5rem;
  }
  .hero .hero-content__paragraph {
    font-size: 1rem;
  }
  .hero .hero-content__button {
    max-width: 100%;
    gap: 1rem;
  }
  .hero .hero-image {
    position: static;
    display: flex;
    justify-content: center;
    margin: 1rem auto;
  }
  .hero .hero-image img {
    width: 80%;
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.25);
  }
  .hero .hero-image::before {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */